<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @task.finish_date %>
</p>

<p>
  <strong>Finished date:</strong>
  <%= @task.finished_date %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @task.finished %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
